.tag {
    position: relative;
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    text-align: center; /* Centrar el texto */
    border-radius: 4px; /* Bordes redondeados */
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Triángulo */
.tag::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.importan{
    background-color: #f00;
}
.importan::before{
    border-right: 10px solid #f00;
}
.home{
    background-color: #ff5100;
}
.home::before{
    border-right: 10px solid #ff5100;
}
.work{
    background-color: #ffcc00;
}
.work::before{
    border-right: 10px solid #ffcc00;
}
.personal{
    background-color: #019501;
}
.personal::before{
    border-right: 10px solid #019501;
}
.proyects{
    background-color: #0000ff;
}
.proyects::before{
    border-right: 10px solid #0000ff;
}
.favors{
    background-color: #f457f4;
}
.favors::before{
    border-right: 10px solid #f457f4;
}