.hero{
    margin-top: 20px;
    width: 700px;
}
.list-tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #434343;
    padding: 10px;
}
.list-tasks__title{
    color: #fff;
    text-align: start;
    margin-left: 10px;
    font-size: 1.5rem;
}